body {
  
  background: #4c6590;
  color: black;
  font-family: Arial, Helvetica, sans-sarif
   
}
.exp-header{
  text-align: center; 
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  background:#854228;
  border-bottom: 1px solid #dddddd;
}

h4{text-align: center; 
  background: #3C6B56 ;
  font-size: 18px
}

h5{font-size:16px;
  }

h6{
  font-size: 18px;
}
